{# method = static #}
{% if iface.method == 'static' %}
auto {{ item.0 }}
iface {{ item.0 }} {{ inet }} static
{% if iface.cidr is defined %}
    address {{ iface.cidr }}
{% endif %}
{% if iface.netmask is defined %}
    netmask {{ iface.netmask }}
{% endif %}
{% if iface.gateway is defined %}
    gateway {{ iface.gateway }}
{% endif %}
{% if iface.dnsnameservers is defined %}
    dns-nameservers {{ iface.dnsnameservers }}
{% endif %}
{% if iface.dnssearch is defined %}
    dns-search {{ iface.dnssearch }}
{% endif %}
{% endif %}

{# method = dhcp #}
{% if iface.method == 'dhcp' %}
auto {{ item.0 }}
iface {{ item.0 }} {{ inet }} dhcp
{% endif %}
{# add secondary IP if it is defined #}
{% if iface.addresses is defined %}
{% for addr in iface.addresses %}
iface {{ item.0 }} {{ inet}} static
    address {{ addr }}
    netmask {{ route_mask }}
{% if inet == 'inet6' %}
    post-up /sbin/ip addr change {{ addr }}/{{ route_mask }} dev {{ item.0 }} preferred_lft 0
{% endif %}
{% endfor %}
{% endif %}
{% set ns = namespace(already_default=false) %}
{# add ip routes #}
{% if iface.routes is defined %}
{% for i in iface.routes %}
{% if i.network is defined %}
{% if i.network == 'default' %}
{% set ns.already_default = true %}
    post-up {{ ipcmd }} route replace default dev {{ item.0 }} {% if i.nexthop is defined %} via {{ i.nexthop }} {% endif %} {% if i.source is defined %} src {{ i.source }} {% endif %}

    post-down {{ ipcmd }} route del default dev {{ item.0 }}
{% else %}
    post-up {{ ipcmd }} route replace {{ i.network }} {% if i.nexthop is defined %} via {{ i.nexthop }} {% endif %} dev {{ item.0 }} {% if i.source is defined %} src {{ i.source }} {% endif %}

    pre-down {{ ipcmd }} route del {{ i.network }} {% if i.nexthop is defined %} via {{ i.nexthop }} {% endif %}

{% endif %}
{% endif %}
{% if i.host is defined %}
    post-up {{ ipcmd }} route replace {{ i.host }}/32 {% if i.nexthop is defined %} via {{ i.nexthop }} {% endif %} dev {{ item.0 }} {% if i.source is defined %} src {{ i.source }} {% endif %}

    pre-down {{ ipcmd }} route del {{ i.host }}/32 {% if i.nexthop is defined %} via {{ i.nexthop }} {% endif %}

{% endif %}
{% endfor %}
{% endif %}
{# default route if it was not added in route definition #}
{% if iface.default is defined and not ns.already_default %}
    post-up {{ ipcmd }} route replace default dev {{ item.0 }}
    post-down {{ ipcmd }} route del default
{% endif %}
