version: '3.4'

services:
  seed:
    image: colinmollenhour/mariadb-galera-swarm:latest
    environment:
      - XTRABACKUP_PASSWORD={{ XTRABACKUP_PASSWORD }}
      - MYSQL_USER={{ MYSQL_USER }}
      - MYSQL_PASSWORD={{ MYSQL_PASSWORD }}
      - MYSQL_DATABASE={{ MYSQL_DB }}
      - MYSQL_ROOT_PASSWORD={{ MYSQL_ROOT_PASSWORD }}
      - NODE_ADDRESS=^10.0.*.*
    networks:
      - galera_network
    ports:
      - target: 3306
        published: 3306
        protocol: tcp
        mode: host
    command: seed
    volumes:
      - mysql-data:/var/lib/mysql
    deploy:
      replicas: {{ SEED_REPLICAS }}
      endpoint_mode: dnsrr
      placement:
        constraints:
          - node.labels.cluster == {{ LABEL }}
        preferences:
          - spread: node.id
  node:
    image: colinmollenhour/mariadb-galera-swarm:latest
    environment:
      - XTRABACKUP_PASSWORD={{ XTRABACKUP_PASSWORD }}
      - NODE_ADDRESS=^10.0.*.*
      - HEALTHY_WHILE_BOOTING=1
    networks:
      - galera_network
    ports:
      - target: 3306
        published: 3306
        protocol: tcp
        mode: host
    command: node seed,node
    volumes:
      - mysql-data:/var/lib/mysql
    deploy:
      replicas: {{ NODE_REPLICAS }}
      endpoint_mode: dnsrr
      placement:
        constraints:
          - node.labels.cluster == {{ LABEL }}
        preferences:
          - spread: node.id
volumes:
  mysql-data:
    name: {{ "'"'{{.Service.Name}}-{{.Task.Slot}}-data'"'" }}
    driver: local
networks:
  galera_network:
    driver: overlay
