[Service]
Environment="HTTP_PROXY={{ http_proxy_address }}"
Environment="HTTPS_PROXY={{ https_proxy_address }}"
{% if docker_no_proxy_host is defined %}
Environment="NO_PROXY={{ docker_no_proxy_host }}"
{% endif %}
