global_defs {
  notification_email {
    root@localhost.localdomain
  }
  notification_email_from root@localhost.localdomain
  smtp_server 127.0.0.1
  smtp_connect_timeout 30

}

vrrp_script chk_mysqld {
  script {{ script_check }}
  weight 2
  interval 20
}

vrrp_instance VI_1 {
  interface {{ vip_interface }}
  state MASTER
  priority 101
  virtual_router_id 51


  authentication {
    auth_type PASS
    auth_pass 4Apr3C*d
  }

  virtual_ipaddress {
    {{ virtual_ipaddresses }}
  }

  track_script {
    chk_mysqld
  }


}